* {
	margin: 0%;
	padding: 0%;
}

body {
	background: linear-gradient(to top, #ffffff, #f3f3f3);
	color: #444444;
	text-align: center;
	line-height: 1.7;
	font-family: "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic",
		"游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo";
	overflow: auto;
	background-repeat: no-repeat;
}

h1 {
	font-size: 42px;
	max-height: 52px;
	margin-top: 0.5rem;
	margin-left: 2.7%;
	text-align: left;
}

h3 {
	font-size: 15px;
	margin: auto;
	margin-left: 2.7%;
	text-align: left;
}